<!-- <div class="centrar1">
  <div class="inbox">
    <label>Pregunta</label>
    <br />
    <div class="box"></div>
    <br />
    <label>Respuesta</label>
    <input type="text" />
  </div>
</div>

<div class="centrar">
  <button type="button" class="btn btn-primary">Pregunta anterior</button>
  <button type="button" class="btn btn-primary">Contestar</button>
  <button type="button" class="btn btn-primary">siguiente pregunta</button>
</div>
 -->

<section class="container rounded mt-4 mb-4" *ngIf="!loading">
  <h3>Consultas de propiedades</h3>
  <div class="row">
    <div class="col">
      <button class="btn btn-block btn-info" (click)="setFilter(false)" [ngClass]="filter ? 'no-selected' : 'selected'">
        Sin leer
      </button>
    </div>
    <div class="col">
      <button class="btn btn-block btn-info" (click)="setFilter(true)" [ngClass]="filter ? 'selected' : 'no-selected'">
        Leidas
      </button>
    </div>
  </div>
  <div *ngFor="let c of consults">
    <article class="card mt-2 p-4" *ngIf="c.read == filter" [ngClass]="c.read ? 'read' : ''">
      <h5 class="text-center">Nombre: {{ c.name }} - Fecha: {{ c.date }}</h5>
      <div>Contacto:</div>
      <a *ngIf="c.email" [href]="'mailto:' + c.email" class="mt-2 mb-2">Email: {{ c.email }}</a>
      <a *ngIf="c.phone" [href]="'tel:' + c.phone" class="mt-2 mb-2">Telefono: {{ c.phone }}</a>
      <div>
        Propiedad: <br />
        {{ c.property.title }}
        <a target="_blank" [href]="'#/propiedad/' + c.property.id">Ir a la propiedad</a>
      </div>
      <div>
        Consulta: <br />
        {{ c.message }}
      </div>
      <footer class="footer-actions">
        <button (click)="markAsRead(c)" class="btn" [ngClass]="c.read ? 'btn-dark' : 'btn-success'" type="button">
          <div *ngIf="!c.read">Marcar como leida <i class="fa fa-check"></i> <i class="fa fa-check"></i></div>

          <div *ngIf="c.read">Marcar como no leida</div>
        </button>
      </footer>
    </article>
  </div>
</section>

<article class="container mt-4">
  <div *ngIf="loading">
    <div *ngFor="let i of [0]">
      <ngx-skeleton-loader
        class="loader-props mt-4"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{ height: '38rem', width: '75vw' }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</article>
