.rounded {
  border-radius: 20px !important;
  box-shadow: 1px 1px 15px #8f8c8c;
  padding: 20px;
}

.read{
  background-color: #41be5e;
}

.selected{
  background-color: #f83a29;
}

.no-selected{
  background-color: #090909;
}

.footer-actions{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
