.rounded {
  border-radius: 20px !important;
  box-shadow: 1px 1px 15px #8f8c8c;
  padding: 20px;
}

.card:hover{
  box-shadow: 1px 1px 10px #8f8c8c;
}

.read{
  background-color: #59d36f;
}


.selected{
  background-color: #ff1314;
}

.no-selected{
  background-color: #2096f3;
}

