<sb-navbar></sb-navbar>

<div class="contenedor">
  <div *ngFor="let producto of propiedades">
    <div class="card" (click)="goToDetails(producto)">
      <img
        [src]="producto.images"
        loading="lazy"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ producto.adress.street }}</h5>
        <p class="card-text">
          {{ producto.baths }}
          {{ producto.price }}
        </p>
      </div>
    </div>
  </div>
</div>
