<div class="container bg-white mt-4 p-4 mb-4 rounded table-desktop" *ngIf="vista !== 'grilla'">
  <h4 align="center">Usuarios</h4>
  <input
    [(ngModel)]="searchParam"
    (ngModelChange)="hacerBusqueda()"
    type="text"
    placeholder="Buscador inteligente..."
    class="form-control mb-2"
  />

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="usuarios">
      <tr *ngFor="let uno of usuarios">
        <td>{{ uno.name }}</td>
        <td>{{ uno.lastname }}</td>
        <td>{{ uno.email }}</td>
        <td>{{ uno.rol }}</td>
        <td>
          <label class="switch">
            <input
              (change)="toggleActive(uno)"
              [checked]="uno.active"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <span class="slider round"></span>
          </label>
        </td>

        <td>
          <div class="table-actions">
            <button class="btn btn-danger" (click)="delete(uno)"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="usuarios.length == 0" class="loading">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
</div>

<!-- VERSION MOVIL -->
<div class="cards-mobile" *ngIf="vista !== 'grilla'">
  <div class="container bg-white mt-4 p-4 mb-4 rounded listado">
    <h4 align="center">Usuarios</h4>

    <input
      [(ngModel)]="searchParam"
      (ngModelChange)="hacerBusqueda()"
      type="text"
      placeholder="Buscador inteligente..."
      class="form-control mb-2"
    />

    <div class="row justify-content-center">
      <div class="col-12" *ngFor="let card of usuarios">
        <div class="card mt-2 mb-2 p-2" (click)="openModalDetails(card)">
          <div class="card-actions">
            <div class="card-name">
              {{ card.name }}
              {{ card.lastname }}
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-2 mb-2 p-2 loading-puntos" *ngIf="usuarios.length == 0">
        <div class="spinner-border text-primary mt-1 mb-1" role="status"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #detailsModal let-modal>
  <div class="modal-body">
    <div class="btn-exit">
      <i (click)="modal.dismiss('Cross click')" class="btn btn-white"><i class="fas fa-times"></i> </i>
    </div>
    <div class="header-modal">
      {{ selectedUser.name }}
      {{ selectedUser.lastname }}
    </div>

    <div class="disponibilidad-modal">
      {{ selectedUser.email }}
      <label class="switch">
        <input
          (change)="toggleActive(selectedUser)"
          [checked]="selectedUser.active"
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <span class="slider round"></span>
      </label>
    </div>
    <button class="btn btn-danger" (click)="delete(selectedUser)"><i class="fa fa-trash"></i></button>
  </div>
</ng-template>
