<form [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-12 text-center"><h4>Alta de usuario</h4></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          type="text"
          [class]="isValidField('name')"
          class="form-control"
          formControlName="name"
          placeholder="Nombre" />
        <span *ngIf="showError('name')" class="invalid-feedback">
          {{ getErrorMessages('name') }}
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="lastname">Apellido</label>
        <input
          type="text"
          class="form-control"
          [class]="isValidField('lastname')"
          id="lastname"
          formControlName="lastname"
          placeholder="Apellido" />
        <span *ngIf="showError('lastname')" class="invalid-feedback">
          {{ getErrorMessages('lastname') }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- ROL -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="rol">Rol</label>
        <input
          type="text"
          class="form-control"
          [class]="isValidField('rol')"
          id="rol"
          formControlName="rol"
          placeholder="Rol" />
        <span *ngIf="showError('rol')" class="invalid-feedback">
          {{ getErrorMessages('rol') }}
        </span>
      </div>
    </div>
    <!-- EMAIL -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="rol">Email</label>
        <input
          type="text"
          class="form-control"
          [class]="isValidField('email')"
          id="email"
          formControlName="email"
          placeholder="Email" />
        <span *ngIf="showError('rol')" class="invalid-feedback">
          {{ getErrorMessages('rol') }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="msj-info">
      *Se creara con la contraseña: 123456, por defecto
    </div>

    <div class="col-md-12 text-center mt-4">
      <button
        type="submit"
        class="btn btn-danger btn-block"
        [disabled]="!formGroup.valid"
        (click)="saveUser()">
        <div *ngIf="!loading">Guardar</div>
        <div
          *ngIf="loading"
          class="spinner-border btn-block text-dark"
          role="status"></div>
      </button>
    </div>
  </div>
</form>
