<article>
  <div class="card mb-3 list" (click)="goToDetails(property)">
    <div class="row">
      <div class="col-md-4">
        <div class="wrapper">
          <img
            src="'../../../../../../assets/Loading_icon.gif"
          />
          <div class="fanart" [lazyLoad]="property.images"></div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            {{ property.title | titlecase }}

          </h5>
          <h5 class="card-title">
            {{ property.propertyType | titlecase }} - {{ property.adress.street }},
            {{ property.adress.province }}
            {{ property.adress.locality }}
          </h5>
          <p class="card-text">
            <span class="font-weight-bold font-price"
              >{{ property.price }} {{ property.currency }}</span
            >
          </p>
          <div class="card-text">
            <div class="row">
              <div class="col-6">{{ property.squareFeet }} m² totales</div>
              <div class="col-6">
                {{ property.squareFeetCover }} m² cubiertos
              </div>

              <div class="col-6">
                {{ property.bedrooms }} Habitaciones <i class="fa fa-bed"></i>
              </div>
              <div class="col-6">
                {{ property.baths }} Baños <i class="fa fa-toilet"></i>
              </div>
              <div class="col-6">
                {{ property.parkings }} Cochera <i class="fa fa-car"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
