<div class="btn-add">
  <button (click)="toggleShowAddProperty()" class="btn btn-danger mt-3" type="button">
    {{ btnText }} <i class="fa fa-home"></i>
  </button>
</div>

<section class="container bg-white mt-4 p-4 mb-4 rounded" id="list-properties" *ngIf="showAddProperty">
  <sb-admin-properties-add></sb-admin-properties-add>
</section>

<section class="container bg-white mt-4 p-4 mb-4 rounded" id="list-properties" *ngIf="!showAddProperty">
  <div class="row">
    <div class="col-9">
      <input
        [(ngModel)]="searchParam"
        (ngModelChange)="hacerBusqueda()"
        type="text"
        placeholder="Buscador inteligente..."
        class="form-control mb-2"
      />
    </div>
    <div class="col-3 btn-clear">
      <button class="btn btn-danger mb-2" (click)="clearFilter()" type="button"><i class="fa fa-times"></i></button>
    </div>
  </div>

  <div *ngFor="let prop of propierties">
    <article>
      <div class="card mb-3 list" (click)="goToDetail(prop.id)">
        <div class="row">
          <div class="col-md-4">
            <div>

            </div>
            <img  *ngIf="prop.images" loading="lazy" src="{{ prop.images }}" alt="a" />
            <img  *ngIf="!prop.images" src="../../../../../../../assets/default-photo-normal.jpg" alt="b" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {{ prop.propertyType | titlecase }} - {{ prop.adress.street }}, {{ prop.adress.locality }}
              </h5>
              <p class="card-text">
                <span class="font-weight-bold font-price">{{ prop.price }} {{ prop.currency }}</span>
              </p>
              <div class="card-text">
                <div class="row">
                  <div class="col-6">{{ prop.squareFeet }} m² totales</div>
                  <div class="col-6">{{ prop.squareFeetCover }} m² cubiertos</div>

                  <div class="col-6">{{ prop.bedrooms }} Habitaciones <i class="fa fa-bed"></i></div>
                  <div class="col-6">{{ prop.baths }} Baños <i class="fa fa-toilet"></i></div>
                  <div class="col-6">{{ prop.parkings }} Cochera <i class="fa fa-car"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
