.rounded {
  border-radius: 20px !important;
  box-shadow: 1px 1px 15px #8f8c8c;
}

.list {
  border-radius: 5px !important;
  box-shadow: 1px 1px 7px #b8b3b3;
}

.list:hover{
  box-shadow: 1px 1px 15px #605d5d;
}

.font-price{
  font-size: 1.3em;
}
