<div class="btn-add">
  <button
    (click)="toggleShowAddProperty()"
    class="btn btn-danger mt-3"
    type="button">
    {{ btnText }} <em class="fa fa-home"></em>
  </button>
</div>

<section
  class="container bg-white mt-4 p-4 mb-4 rounded"
  id="list-properties"
  *ngIf="showAddProperty">
  <sb-admin-properties-add></sb-admin-properties-add>
</section>

<section
  class="container bg-white mt-4 p-4 mb-4 rounded"
  id="list-properties"
  *ngIf="!showAddProperty">
  <div class="row">
    <div class="col-9">
      <input
        [(ngModel)]="searchParam"
        (ngModelChange)="hacerBusqueda()"
        type="text"
        placeholder="Buscador inteligente..."
        class="form-control mb-2" />
    </div>
    <div class="col-3 btn-clear">
      <button class="btn btn-danger mb-2" (click)="clearFilter()" type="button">
        <em class="fa fa-times"></em>
      </button>
    </div>
  </div>

  <div *ngFor="let prop of propierties" >
    <sb-property-card [property]="prop"></sb-property-card>
  </div>
</section>
