<sb-admin-navbar></sb-admin-navbar>

<div class="row m-auto" >
    <div class="col-md-2">
      <sb-admin-sidebar (changeSection)="handleSection()"></sb-admin-sidebar>
    </div>

    <div class="col" [ngSwitch]="section">
      <sb-admin-dashboard *ngSwitchCase="'admin-dashboard'"></sb-admin-dashboard>
      <sb-admin-users *ngSwitchCase="'admin-users'"></sb-admin-users>
      <sb-admin-properties *ngSwitchCase="'admin-properties'"></sb-admin-properties>
      <sb-admin-inbox *ngSwitchCase="'admin-inbox'"></sb-admin-inbox>
      <sb-admin-preferences *ngSwitchCase="'admin-preferences'"></sb-admin-preferences>
      <div *ngSwitchDefault="" style="display: flex; justify-content: center; align-items: center; height: 90vh">
        <h3></h3>
      </div>
    </div>
  </div>
