<form [formGroup]="formGroup" style="padding: 20px">
  <div class="row">
    <div class="col-md-12 text-center"><h3>Alta de propiedad</h3></div>
  </div>

  <div class="row">
    <!-- Metros 2 cubiertos -->
    <div class="col-md-12">
      <div class="form-group">
        <label>Titulo</label>
        <input
          type="text"
          class="form-control"
          [class]="isValidField('title')"
          formControlName="title"
          placeholder="Titulo"
        />
        <span *ngIf="showError('title')" class="invalid-feedback">
          {{ getErrorMessages('title') }}
        </span>
      </div>
    </div>
    <!-- Metros 2 cubiertos -->
    <div class="col-md-12">
      <div class="form-group">
        <label>Descripcion</label>
        <textarea
          type="textarea"
          class="form-control"
          [class]="isValidField('description')"
          formControlName="description"
          placeholder="Descripcion"
        ></textarea>
        <span *ngIf="showError('description')" class="invalid-feedback">
          {{ getErrorMessages('description') }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Tipo de propiedad -->
    <div class="col-md-6">
      <div class="form-group">
        <label>Tipo de propiedad</label>
        <select
          type="text"
          class="form-control"
          [class]="isValidField('propertyType')"
          formControlName="propertyType"
          placeholder="Tipo de propiedad"
        >
          <option disabled>Tipo</option>
          <option *ngFor="let tipo of tipos" [ngValue]="tipo">
            {{ tipo }}
          </option>
        </select>
        <span *ngIf="showError('propertyType')" class="invalid-feedback">
          {{ getErrorMessages('propertyType') }}
        </span>
      </div>
    </div>

    <!-- Tipo de oferta -->
    <div class="col-md-6">
      <div class="form-group">
        <label>Tipo de oferta</label>
        <select
          type="text"
          class="form-control"
          [class]="isValidField('offerType')"
          formControlName="offerType"
          placeholder="Tipo de oferta"
        >
          <option disabled>Oferta</option>
          <option *ngFor="let tipo of oferta" [ngValue]="tipo">
            {{ tipo }}
          </option>
        </select>
        <span *ngIf="showError('offerType')" class="invalid-feedback">
          {{ getErrorMessages('offerType') }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Moneda -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="moneda">Moneda</label>
        <select
          type="text"
          class="form-control"
          [class]="isValidField('currency')"
          formControlName="currency"
          placeholder="Moneda"
        >
          <option disabled>Moneda</option>
          <option *ngFor="let tipo of ['ARS', 'USD', 'A consultar']" [ngValue]="tipo">
            {{ tipo }}
          </option>
        </select>
        <span *ngIf="showError('currency')" class="invalid-feedback">
          {{ getErrorMessages('currency') }}
        </span>
      </div>
    </div>
    <!-- Precio -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="nombre">Precio</label>
        <input
          type="number"
          [class]="isValidField('price')"
          class="form-control"
          formControlName="price"
          placeholder="Precio"
        />
        <span *ngIf="showError('price')" class="invalid-feedback">
          {{ getErrorMessages('price') }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Año de construcción -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Año de construcción</label>
        <select
          type="number"
          class="form-control"
          [class]="isValidField('yearBuilt')"
          formControlName="yearBuilt"
          placeholder="Año de construcción"
        >
          <option disabled>Año</option>
          <option *ngFor="let tipo of anios" [ngValue]="tipo">
            {{ tipo }}
          </option>
        </select>
        <span *ngIf="showError('yearBuilt')" class="invalid-feedback">
          {{ getErrorMessages('yearBuilt') }}
        </span>
      </div>
    </div>
    <!-- Metros 2 -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Metros cuadrados</label>
        <input
          type="number"
          class="form-control"
          [class]="isValidField('squareFeet')"
          formControlName="squareFeet"
          placeholder="Metros cuadrados"
        />
        <span *ngIf="showError('squareFeet')" class="invalid-feedback">
          {{ getErrorMessages('squareFeet') }}
        </span>
      </div>
    </div>

    <!-- Metros 2 cubiertos -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Metros cuadrados cubiertos</label>
        <input
          type="number"
          class="form-control"
          [class]="isValidField('squareFeetCover')"
          formControlName="squareFeetCover"
          placeholder="Metros cuadrados cubiertos"
        />
        <span *ngIf="showError('squareFeetCover')" class="invalid-feedback">
          {{ getErrorMessages('squareFeetCover') }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Cocheras -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Cocheras</label>
        <input
          type="number"
          class="form-control"
          [class]="isValidField('parkings')"
          formControlName="parkings"
          placeholder="Cocheras"
        />
        <span *ngIf="showError('parkings')" class="invalid-feedback">
          {{ getErrorMessages('parkings') }}
        </span>
      </div>
    </div>
    <!-- Dormitorios -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Dormitorios</label>
        <input
          type="number"
          class="form-control"
          [class]="isValidField('bedrooms')"
          formControlName="bedrooms"
          placeholder="Dormitorios"
        />
        <span *ngIf="showError('bedrooms')" class="invalid-feedback">
          {{ getErrorMessages('bedrooms') }}
        </span>
      </div>
    </div>
    <!-- Baños -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Baños</label>
        <input
          type="number"
          class="form-control"
          [class]="isValidField('baths')"
          formControlName="baths"
          placeholder="Baños"
        />
        <span *ngIf="showError('baths')" class="invalid-feedback">
          {{ getErrorMessages('baths') }}
        </span>
      </div>
    </div>
  </div>

  <!-- Direccion -->
  <div class="row">
    <!-- Provincia -->
    <div class="col-md-3">
      <div class="form-group">
        <label>Provincia</label>
        <select
          (ngModelChange)="onProvinciaChange()"
          type="text"
          class="form-control"
          [class]="isValidField('province')"
          formControlName="province"
          placeholder="Provincia"
        >
          <option disabled>Provincia</option>
          <option *ngFor="let prov of provincias" [ngValue]="prov.nombre">
            {{ prov.nombre }}
          </option>
        </select>
        <span *ngIf="showError('province')" class="invalid-feedback">
          {{ getErrorMessages('province') }}
        </span>
      </div>
    </div>
    <!-- Localidad -->
    <div class="col-md-3">
      <div class="form-group">
        <label>Localidad</label>
        <select
          type="text"
          class="form-control"
          [class]="isValidField('locality')"
          formControlName="locality"
          placeholder="Localidad"
        >
          >
          <option disabled>Ciudad</option>
          <option *ngFor="let ciud of ciudades" [ngValue]="ciud.nombre">
            {{ ciud.nombre }}
          </option>
        </select>
        <span *ngIf="showError('locality')" class="invalid-feedback">
          {{ getErrorMessages('locality') }}
        </span>
      </div>
    </div>
    <!-- Calle -->
    <div class="col-md-3">
      <div class="form-group">
        <label>Calle y altura</label>
        <input
          type="text"
          class="form-control"
          [class]="isValidField('street')"
          formControlName="street"
          placeholder="Calle y altura"
        />
        <span *ngIf="showError('street')" class="invalid-feedback">
          {{ getErrorMessages('street') }}
        </span>
      </div>
    </div>
    <!-- Codigo postal -->
    <div class="col-md-3">
      <div class="form-group">
        <label>Codigo postal</label>
        <input
          type="text"
          class="form-control"
          [class]="isValidField('zipCode')"
          formControlName="zipCode"
          placeholder="CP"
        />
        <span *ngIf="showError('zipCode')" class="invalid-feedback">
          {{ getErrorMessages('zipCode') }}
        </span>
      </div>
    </div>
  </div>


  <div class="row">
    <!-- Imagenes -->
    <div class="col-12">
      <br>
      <div>
        <button id="banner-upload" (click)="uploadMultipleFiles()" hidden></button>
        <label for="banner-upload" class="banner-upload-btn btn btn-danger mt-2"
          ><em class="fa fa-upload"> Imagen</em></label
        >
        <br>
        <button *ngIf="imgResultAfterCompress.length > 0" class="btn btn-danger" (click)="imgResultAfterCompress.splice(0, imgResultAfterCompress.length)" >    <em class="fa fa-trash"> Eliminar imagenes</em></button>
        <br>
      </div>
    </div>

    <div class="col 12">
      <div class="col-12 mb-2 text-center" *ngFor="let image of imgResultAfterCompress">
        <img [src]="image" width="300px" alt="" />
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center mt-6">
      <button type="submit" class="btn btn-danger btn-block" [disabled]="!formGroup.valid" (click)="saveProperty()">
        <div *ngIf="!loading">Guardar</div>
        <div *ngIf="loading" class="spinner-border btn-block text-dark" role="status"></div>
      </button>
    </div>
  </div>
</form>
