*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: #9c0f0f !important;
}

*::-webkit-scrollbar-thumb {
    background: #cf4a4a !important;
}
