<div>
  <div>
    <div class="row">
      <button class="col" [class]="claseComprar" (click)="setActive('comprar')" style=" white-space: pre;">Quiero comprar</button>

      <button class="col" [class]="claseVender" (click)="setActive('vender')" style=" white-space: pre;">Quiero vender</button>
    </div>

    <div class="row">
      <select id="province" type="text" class="form-control col">
        <option disabled selected>Provincia</option>
        <option>Buenos Aires</option>
        <option>Cordoba</option>
        <option>Mendoza</option>
        <option>CABA</option>
      </select>

      <select id="typeProperties" type="text" class="form-control col">
        <option disabled selected>Tipo de propiedad</option>
        <option>Casa</option>
        <option>Terreno</option>
        <option>Oficina</option>
      </select>

      <button class="btn btn-danger btn-search col" [disabled]="!enabled" (click)="search()">
        <em class="fas fa-search"></em>
      </button>
    </div>
  </div>
</div>
