<div>
  <div>
    <div class="row">
      <button class="col" [class]="claseComprar" (click)="setActive('comprar')">
        Comprar
      </button>
      <button class="col" [class]="claseAlquilar" (click)="setActive('alquilar')">
        Alquilar
      </button>
      <button class="col" [class]="claseVender" (click)="setActive('vender')">
        Vender
      </button>
    </div>

    <div class="row">
      <select type="text" class="form-control col">
        <option>Localidad</option>
        <option>Quilmes</option>
        <option>Capital federal</option>
        <option>Cosquin</option>
        <option>La Falda</option>
      </select>

      <button
        class="btn btn-danger btn-search col"
        [disabled]="!enabled"
        (click)="search()">
        <em class="fas fa-search"></em>
      </button>
    </div>
  </div>
</div>
